<div class="spch" id="spch" [ngClass]="{'s2fp':!resultspage,'s2tb':resultspage}">
    <div class="spchc" id="spchc">
        <div class="_o3">

            <div class="_AM">
                <span class="_CMb" id="spchl" [style.top]="shadowtop" [style.left]="shadowleft"
                    [style.transform]="'scale(' + borderheight + ')'"></span>
                <span class="button" id="spchb" [style.background-color]="buttoncolor">
                    <mat-icon class="_wPb">mic</mat-icon>
                </span>
            </div>

            <div class="_gjb">
                <span class="spcht" id="spchi" style="color:#777">
                    {{message}}
                </span>
                <span class="spcht" id="spchf" style="color:#000"></span>
            </div>
        </div>
    </div>
</div>