<div class="container">
    <div class="speech-recognition">
        <div class="mic-container">
            <span class="mic-listening-shadow" [style.transform]="'scale(' + borderheight + ')'"></span>
            <span class="mic-button" (click)="startSpeechRecognition();">
                <mat-icon class="mic-icon" [ngStyle]="{ 'color' : ($listening | async) ? '#f44' : '#999' }">{{micIcon}}</mat-icon>
            </span>
        </div>

        <div>
            <span class="message">{{message}}</span>
        </div>
    </div>
</div>